body,a,.pagination_menu a span.wp_link_pages_custom { color:#606060; }
p, body {font-size:12px;}
.title_section h1 { color:#313131;font-size:22px; }
#content h1,#content h1 a { color:#313131;font-size:22px; }
#content h2,#content h2 a { color:#313131;font-size:20px; }
#content h3,#content h3 a { color:#313131;font-size:18px; }
#content h4,#content h4 a { color:#313131;font-size:16px; }
#content h5,#content h5 a { color:#313131;font-size:14px; }
#content h6,#content h6 a { color:#313131;font-size:12px; }
#content #sidebar h3 { color:#313131;font-size:15px; }
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6,#footer .widget h3 { color:#cccccc;font-size:16px; }
#footer .testimonial_box h5 { color:#cccccc; }
#footer ul li,.large-footer ul li a,#footer .tagcloud a,#footer p,#footer a,#footer .my_toggle .my_toggle_title,#footer .my_tabs ul.tab-nav li a,#footer .testimonials_slider ul li .client_testimonials h5 sub,#footer select,#footer label { color:#aaaaaa;font-size:12px; }
#content .post-title h1,#content .post-title h1 a,#content .post-title h3,#content .post-title h3 a { color:#313131;font-size:18px; }
#footer .small_footer ul li a { color:#aaaaaa;font-size:11px; }
#footer_copyright_info p,#footer_copyright_info p a { color:#313131;font-size:11px; }
#footer .small_footer ul li a:hover,#footer a:hover,
#content .blog_post .blog_post_readmore_link a,#content .blog_post h3 a:hover,.pf_quote span a,.author_title h4 span,#respond h3 small a#cancel-comment-reply-link,a.comment-reply-link,
.swm_portfolio_box:hover .swm_swm_portfolio_text,
.tp-caption.heading1-skin-color,.tp-caption.heading2-skin-color,.tp-caption.heading3-skin-color,.tp-caption.heading4-skin-color,.tp-caption.heading5-skin-color,.tp-caption.heading6-skin-color,.tp-caption.sub-heading1-skin-color,.tp-caption.sub-heading2-skin-color,#content .archives-link a:hover

{ color:#fcd305;  }
#container,#footer,#sidebar .tagcloud a:hover,#footer .tagcloud a:hover,
.portfolio_horizontal_menu li a.active,.pagination_menu li a.current,#content .paginate-com span.current,
.pagination_menu span.wp_link_pages_custom
 { border-color:#fcd305;  }
.blog_post_format_date span.blog_post_date,
#sidebar .tagcloud a:hover,#footer .tagcloud a:hover,
.swm_portfolio_box:hover .swm_portfolio_text,
.swm_portfolio_box:hover .swm_portfolio_img_topborder,
.pagination_menu li a.current,
.blog_post_grid:hover .blog_post_format_date span.blog_post_format_icon,
.portfolio_horizontal_menu.extra_hmenu_class li a.active,
.portfolio_horizontal_menu.h_responsive li a.active,
.tp-caption.sub-heading1-skin-background ,
.tp-caption.sub-heading2-skin-background,
.tp-caption.heading1-skin-background,
.tp-caption.heading2-skin-background,
.tp-caption.heading3-skin-background,
.tp-caption.heading4-skin-background,
.tp-caption.heading5-skin-background,
.tp-caption.heading6-skin-background,
.pagination_menu span.wp_link_pages_custom,#content .paginate-com span.current
 { background:#fcd305;  }

.top-menu ul.sf-menu>li:hover,
.top-menu>ul.sf-menu>li.current_page_item,
.top-menu>ul.sf-menu>li.current-menu-item, 
.top-menu>ul.sf-menu>li.current-menu-parent, 
.top-menu>ul.sf-menu>li.current-category-ancestor,
.top-menu>ul.sf-menu>li.current-post-ancestor,
.top-menu>ul.sf-menu>li.current-page-ancestor,
.top-menu>ul.sf-menu>li.current-menu-ancestor,
#sidebar ul.menu li:hover, #sidebar ul.menu li.current-menu-item, #sidebar ul.menu li.current_page_item
{ background:#fcd305;  -webkit-box-shadow: inset 0 0 10px #d6b40b; -moz-box-shadow: inset 0 0 10px #d6b40b; box-shadow: inset 0 0 10px #d6b40b; }

.top-menu>ul.sf-menu>li>ul>li:hover>a:before,
.top-menu>ul.sf-menu>li>ul>li>ul>li:hover>a:before,
.top-menu>ul.sf-menu>li>ul>li>ul>li:hover>ul>li>a:before,
.top-menu ul.sf-menu ul li.current-menu-item a:before
{ color:#fcd305;  }


h1, h2, h3, h4, h5, h6,
.tp-caption.heading1,.tp-caption.heading2,.tp-caption.heading3,.tp-caption.heading4,.tp-caption.heading5,.tp-caption.heading6,.tp-caption.heading1-skin-color,.tp-caption.heading2-skin-color,.tp-caption.heading3-skin-color,.tp-caption.heading4-skin-color,.tp-caption.heading5-skin-color,.tp-caption.heading6-skin-color,.tp-caption.heading1-skin-background,.tp-caption.heading2-skin-background,.tp-caption.heading3-skin-background,.tp-caption.heading4-skin-background,.tp-caption.heading5-skin-background,.tp-caption.heading6-skin-background,
.intro_header_style_text .title_text, .intro_header_style_promotion_box .title_text,
.swm_portfolio_text .project_title
 { font-family: "Arimo", arial, verdana, tahoma; -webkit-text-stroke: 1px transparent;
}p { font-family: "Arimo", arial, verdana, tahoma;}
body { font-family: Arimo, arial,verdana,helvetica,sans-sarif; }
#content p,p { line-height: 20px}
.top-menu>ul.sf-menu>li>a { font-size:14px; font-family:Arimo,arial,verdana,tahoma; }
.top-menu>ul.sf-menu>li>a>small { font-size:11px; }
.pf_quote { font-weight:normal; } #content .promotion_box p sub {font-weight:normal;} #content .pf_box:hover .gallery_details h3 { color:#fff; }
.small-footer .tm_social_media { background:none;}
#logo_header,#container,.title_section,.footer_wrapper,#intro_header,#footer,#lang_sel_footer { border-radius:3px;  }
.small_footer { border-radius: 0 0 3px 3px; }
#intro_header { padding:0; }
#container { margin-top:15px; }
#lang_sel_footer { border:0; margin-bottom:15px; border-top:3px solid #fcd305; }
body { background:#e4e4e4 url() fixed center   }.top-menu { margin-top:5px; }.steps_with_circle ol li span
{ color:#606060; }.skin_color,.special_plan .pricing_title,.special_plan .swm_button,.client_position,.p_bar_skin_color .p_bar_bg,.cta_block,.recent_posts_square_date,  
.projects_style1_box:hover,.projects_style2_box:hover .swm_projects_style2_text,
.projects_style2_box:hover .projects_style2_img_topborder,
.swm_pagination li a.current,.swm_pagination li a:hover.current,
.horizontal_menu li.current_page_item a,.horizontal_menu li:hover.current_page_item a,
.services_icon_small:hover .circle_icon,
.services_icon_medium:hover .circle_icon,
.services_icon_large:hover .circle_icon,
a.swm_button.skin_color
{ background:#fcd305; color:#fff; }
.swm_projects_style3_text_wrap,.projects_style3_box:hover .thumb_img { background:#fcd305;  }.fcb_style1 { background:#fcd305 url(../images/backgrounds/service_box_title_bg1.html) repeat-x 0 0;  }.projects_style2_box:hover .swm_projects_style2_text,
.swm_pagination li a.current,.swm_pagination li a:hover.current,
.horizontal_menu li.current_page_item a,.horizontal_menu li:hover.current_page_item a 
{ border-color:#fcd305; }.swm_services:hover a,
.swm_services:hover .swm_services_title a,.swm_services:hover a i[class^="icon-"]:before,
.services_style1:hover .icon i[class^="icon-"]:before,
.services_style2:hover .icon,.services_style2:hover .icon i[class^="icon-"]:before,
.services_style3:hover a,.services_style3:hover a i[class^="icon-"]:before,
.services_style6:hover .icon i[class^="icon-"]:before,
.icon_url a i.icon-link,
.recent_post_read_more_link a,
.services_icon_small:hover .service_title a,
.services_icon_medium:hover .service_title a,
.services_icon_large:hover .service_title a,
.fancy_content_box a,
blockquote .title_text,blockquote .title_text p,
.tm_toggle_header i[class^="icon-"]:before
 { color:#fcd305; }.tm_style2 .tm_img { border-bottom:3px solid #fcd305; }blockquote .title_text,blockquote .title_text p,.swm_services_title,
.recent_posts_full .swm_post_title,.pricing_title,
.swm_button,.swm_projects_style2_text .project_title,
.swm_projects_style3_text .project_title,
.swm_projects_style1_text .project_title,
.tm_style1 .tm_box_content .member_name,.tm_style2 .tm_box_content .member_name,
.cta_block .cta_title,
.heading_style1,.heading_style2,.heading_style3,
.fcb_style1 .fcb_title,.fcb_style2 .fcb_title,
.swm_pullquote_left, .swm_pullquote_right,
.swm_promotion_box .title_text
{ font-family: "Arimo", arial, verdana, tahoma; -webkit-text-stroke: 1px transparent;
}.tm_style2 .tm_box_content .member_name span,
.swm_projects_style3_text small,
.swm_projects_style1_text small,
.projects_style2_box small
 { font-family: "Arimo", arial, verdana, tahoma;}
#lang_sel_footer { border-radius:3px; border:0; margin-bottom:15px; border-top:4px solid #fcd305; }#lang_sel_footer {  }#footer .widget #lang_sel_list ul li a, #footer .widget #lang_sel_click a, #footer .widget #lang_sel_click a:visited,#footer .widget #lang_sel_click ul li ul,#footer .widget #lang_sel_click ul li ul li, #footer .widget #lang_sel_click ul li ul li a { color:#aaaaaa;font-size:12px;}